.detalhes-container{
    border-radius: 16px;
    border: 8px solid var(--gradientes-gradiente-logo, #9747FF);
    background: var(--cores-cinza-dark, #1E1F28);
    box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);
    padding: 44px 260px;
    color: white;
    margin-top: 30vh;
}

.detalhes-poster{
    width: 194px;
    height: 289px;
    border-radius: 4px;
    margin-left: -750px;

}
.text-warning {
    margin-left: -750px;
}

.genero{
    margin-left: -750px;
}
.description {
    margin-top: -300px;
    margin-left: 100px;
    text-align: justify;
}
.companies{
    margin-top: 100px;
}
.companies-img{
    max-width: 120px;
    max-height: 100px;
    align-items: center;
}
